.detailItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
  line-height: 1.2;
}

.label {
  font-size: 13px; /* was 12 */
  color: #8c8c8c;
  font-weight: 500;
}

.value {
  font-size: 15px; /* was 13 */
  font-weight: 500;
  color: #222;
}
