.detailsPanel {
  padding: 12px;
  border-radius: 6px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.closeButton {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-size: 38px;
  cursor: pointer;
}

.topSection {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  background-color: antiquewhite;
  padding: 10px;
}

.bottomSection {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  height: 75%;
  background-color: aqua;
  padding: 10px;
}

.topLeftSection {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  width: 50%;
}

.topRightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 25%;
  padding: 8px;
}

.datesContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.dateField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dateFieldSeparator {
  width: 2px;
  height: 60px;
  background-color: var(--Text-ADADAD);
}

.dateFieldRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 14px;
  color: var(--Text-6B6B6B);
  height: 21px;
  width: 85px;
}

.value {
  font-size: 21px;
  color: var(--Text-000000);
  font-weight: 600;
  height: 24px;
}
